@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&italic&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.bg-gradient-red-orange {
  background-image: linear-gradient(to right, red, orange);
}

.hover\:bg-gradient-red-orange:hover {
  background-image: linear-gradient(to right, darkred, darkorange);
}

.focus-visible\:bg-gradient-red-orange:focus-visible {
  outline: 2px solid orange;
  outline-offset: 2px;
}
